.pytest_cache
.ruff_cache
.scannerwork
.venv
.vscode
build
docs
extras
library.egg-info
htmlcov
log
site
src/library/**/__pycache__
src/library/config/resources/tls/key.pem
tests
.coverage
.editorconfig
.gitignore
.markdownlint.yml
dependency-check-report.html
Dockerfile
Dockerfile.alpine
mkdocs.yml
openapi.json
library-*.xlsx
report.html
sonar-*
